useDynLib("bvsflexBeta")
export(logisticVSbeta)
export(callBVS)
export(callBVSelicit)
export(callBVSelicit_d.noin)
export(elicitBeta)
export(plot.elicit)
export(getBVSflex)
export(plotPaths.bvsflex)
export(plotACF.bvsflex)
export(predict.bvsflex)
export(ROC.bvsflex)
export(plotBeta.bvsflex)
export(summary.bvsflex)
export(plotGamma.bvsflex)
export(plotBetaGamma.bvsflex)

